<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="searchEngine" type="Searchfight.Configuration.Custom.SearchEngineConfig, Searchfight.Configuration"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <searchEngine>
    <engines>
      <add name="Google" address="https://www.google.com/search" queryParam="q" tagRegex="&lt;div id=&quot;mBMHK&quot;&gt;(.+?)&lt;nobr&gt;" valueRegex="\d+([,.]\d+)*" />
      <add name="Bing" address="https://www.bing.com/search" queryParam="q" tagRegex="&lt;span class=&quot;sb_count&quot;&gt;(.+?)&lt;/span&gt;" valueRegex="\d+([,.]\d+)*" />
      <add name="Ecosia" address="https://www.ecosia.org/search" queryParam="q" tagRegex="&lt;span class=&quot;result-count&quot;&gt;(.+?)&lt;span&gt;" valueRegex="\d+([,.]\d+)*" />
    </engines>
  </searchEngine>

</configuration>